{{ attach_library('rocketship_theme_starter/component_fixed_menu') }}

<div class="header-top">
  <div class="container-header">
    {% block top %}
      {{ page.header_top }}
    {% endblock %}
  </div>
</div>
